@font-face {
  font-family:  "Optima-ExtraBlack";
  src: local("Optima-ExtraBlack") url('./assets/Optima-ExtraBlack.otf') format('otf');
}
* {
  margin: 0;
  padding: 0;
}
#header-wrapper { 
  height: 70px;
  width: 100%;
  box-shadow: 0px 6px 24px 5px #b3b2b2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#title-wrapper {
  display: flex;
  position: absolute;
  font-size: 22px;
  gap: 15px;
  font-family: "Optima-ExtraBlack";
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
#wally-image {
  width: 70px;
  height: 70px;
  margin-left: 47.5%;
  position: absolute;
}
#wheres { 
  color: #1c99d6;
}
#wally { 
  color: #c7262f;
}
#campsite-image {
  height: 70px;
  width: 80px;
}
#stadium-image {
  height: 50px;
  width: 70px;
}
#railway-image { 
  height: 50px;
  width: 70px;
}
.stamp-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 85%;
  position: absolute;
}
.footer-wrapper {
  display: flex;
  justify-content:center;
  width: 100%;
  font-size: 20px;
  padding-top: 6px;
  box-shadow: 0px -7px 15px -4px #b3b2b2;
}
#github-logo {
  width: 35px;
  height: 35px;
}
.made-by{
  display: flex ;
  align-items: center;
  font-family: "Optima-ExtraBlack";
  color: #1c99d6;
  gap: 5px;
}
#name-styling-footer {
  color: #c7262f;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100%;
}
#wally-level-1-image {
  width: 80%;
  height: 95%;
  z-index: 1;

}
#dropdown-selector {
  position: absolute;
  z-index: 2;
  opacity: 0;
  appearance: none;
  outline: none;
  font-size: 20px;
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 5px;
  width: 100px;

}
.dropdown-buttons {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Optima-ExtraBlack";
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  gap: 10px;
  padding: 5px;
}
.dropdown-character-icons {
  height: 20px;
  width: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(100, 1%);
  height: 86%;
  width: 80%;
  z-index: 1;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  
}
.row {
  display: grid;
  /* border: solid; */
  /* z-index: 2000; */
 

} 
.columns {
  border: solid;
  background-color: transparent;
  border-color: transparent;
}
.character-cards {
  height: 200px;
  width: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 500;
  margin-right: 90%;
  margin-top: 5%;
  max-height: 200px;
  max-width: 50px;
  object-fit: contain;
  font-family: "Optima-ExtraBlack";
}
.character-images{
  padding-bottom: 15px;
  object-fit: contain;
  height: 50px;
  width: 50px;
}
#timer {
  margin-bottom: 50px;
}
#timer-icon {
  height: 35px;
  width: 35px;
}
.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winner-modal-wrapper {
    position: absolute;
    border: solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    height: 20%;
    opacity: 0;
    background-color: #c7262f;
    color: white;
    font-family: "Optima-ExtraBlack";
    font-size: 35px;
}
#winner-modal {
  font-size: 40px;
  max-height: 50%;
  max-width: 90%;
}
#game-reset-button {
  background: none;
  border: solid;
  padding: 7px;
  border-radius: 10px;
  color: white;
  font-family: "Optima-ExtraBlack";
}
#game-reset-button:hover {
  background-color: #1c99d6;
}